[submodule "wwwroot/mod/srokap_framework"]
	path = wwwroot/mod/srokap_framework
	url = git@github.com:Srokap/srokap_framework.git
[submodule "wwwroot/mod/srokap_plugin_installer"]
	path = wwwroot/mod/srokap_plugin_installer
	url = git@github.com:Srokap/srokap_plugin_installer.git
[submodule "wwwroot/mod/elgg_releases"]
	path = wwwroot/mod/elgg_releases
	url = git@github.com:Srokap/elgg_releases.git
[submodule "wwwroot/mod/core_version"]
	path = wwwroot/mod/core_version
	url = git@github.com:Srokap/core_version.git
[submodule "wwwroot/mod/srokap_code_review"]
	path = wwwroot/mod/srokap_code_review
	url = git@github.com:Srokap/srokap_code_review.git
